body{
  background-color: azure;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top:  100px;
}

h1{
  font-size: 4rem;
  color: black;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-btn{
  background-color: rgb(106, 251, 54);
}
.add-btn:hover{
  background-color: rgb(106, 251, 34);
}

.delete-btn{
  background-color: rgb(253, 36, 36);
}
.delete-btn:hover{
  background-color: rgb(253, 36, 16);
}

.move-btn{
  background-color: rgb(60, 73, 249);
}
.move-btn:hover{
  background-color: rgb(60, 73, 229);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(195, 222, 195, 0.5);
  border-radius: 5px;
  color: rgb(123, 123, 123, 0.5);
}

ol{
  padding: 0;
}

li{
  font-size :2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(211, 227, 240);
  margin-bottom: 10px;
  border: 3px solid (0,0%,85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px
}